$bt-actions: ( _default: #cacaca, _confirm: $main-color, _cancel: #cc3a3a, _new: #26b131, _view: #426eff);
[button-container] {
    @extend [list-type="horizontal"];
    gap: $gap-2;
    padding: $padding-1;
    flex-wrap: wrap;
}

[button-container="end"] {
    justify-content: flex-end
}

button,
.bt {
    @extend [icon-parent];
    border-radius: $border-radius;
    cursor: pointer;
    @each $key,
    $value in $bt-actions {
        &[action="#{$key}"] {
            background-color: $value;
            color: get-text-color($value);
            transition: $transition-time-fast;
            &:hover {
                $value: darken($value, 10%);
                background-color: $value;
                color: get-text-color($value);
            }
            &:active {
                $value: darken($value, 12%);
                background-color: $value;
                color: get-text-color($value);
            }
        }
    }
}

[panel] {
    button,
    .bt {
        padding: $padding-3 $padding-1;
        [icon] {
            margin-right: .5rem;
            font-size: 1.4rem;
            &::before {
                vertical-align: -0.125em !important;
            }
        }
    }
}