[model-window-parent] {
    position: relative;
    &:has([model-window="enabled"]) {
        @include scroll();
        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, .3);
        }
    }
}

[model-window] {
    position: absolute;
    width: 50%;
    height: 50%;
    max-height: 95%;
    max-width: 95%;
    pointer-events: none;
    z-index: 100;
    background-color: $bg-neutro;
    resize: both;
    @include scroll("x");
    @include scroll("y");
    @include shadow("filter", 10px, 10px);
    &::-webkit-scrollbar {
        display: none;
    }
    .model-header {
        position: sticky;
        @include flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        height: 3rem;
        background-color: $main-color;
        color: get-text-color($main-color);
        padding-left: 1rem;
        z-index: 20;
        &>* {
            white-space: nowrap;
            color: get-text-color($main-color);
        }
    }
    [model-body] {
        width: 100%;
        height: calc(100% - 3rem);
        @include scroll("y");
        z-index: 15;
    }
}

[model-window="enabled"] {
    display: block;
    pointer-events: all;
}

[model-window="disabled"] {
    display: none;
    pointer-events: none;
}