table,
td,
th,
tr {
    border: $border;
}

[table-parent] {
    height: 100%;
    width: 100%;
    @include scroll("y");
}

[table] {
    height: auto;
    width: 100%;
    border-collapse: collapse;
    border: $border;
    font-size: 1.25rem;
    tr:first-child,
    tr:last-child {
        border: none;
    }
    [table-header] {}
    [table-data] {
        tr {
            cursor: pointer;
            &:nth-child(odd) {
                background-color: $grey-color-1;
            }
            &:hover {
                background-color: $grey-color !important;
            }
            &.selected {
                background-color: lighten($main-color, 35%) !important;
            }
        }
    }
    th,
    td {
        padding: $padding-3 $padding-2;
        min-width: 6.5rem;
        text-align: center;
        white-space: nowrap;
        @include text-overflow;
        @include scroll();
    }
    [data-table-select] {
        max-width: 2rem !important;
    }
}